#Calculator{
    border: 1px solid grey;
    width: fit-content;
    height: fit-content;
    padding-left: 50px;
    background-color:gainsboro;
}
#Display{
    border: 1px solid green;
    height: 50px;
    width: 1000px;
}
.btn{
    margin-left:8%;
    margin-right: 8%;
   

}
#ButtonArea{
    background-color: rgb(145, 142, 142);
    border: 3px solid rgb(177, 176, 176);
}
input{
    width: 100px;
    height: 50px;
}
@media screen and (max-width:550px) { 
    
     input{
        font-weight:bold;
       
     } 
  
    
}
